<div>
  <h1>Hero Form</h1>

  <div ng-hide="$ctrl.submitted">
    <form
      ng-submit="$ctrl.onSubmit()"
      name="form">
      
      <div>
        <label for="name">Name</label>
        <input type="text"
          ng-model = "$ctrl.model.name"
          ngControl="name"
          required
          name="name">
      </div>
      <div ng-hide="form.name.$valid || form.name.$pristine" class="alert">
        Name is required
      </div>
    
      <div>
        <label for="email">Email</label>
        <input type="text"
          ng-model = "$ctrl.model.email"
          ngControl="email"
          pattern="^[a-z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-z0-9]([a-z0-9-]*[a-z0-9])?(\.[a-z0-9]([a-z0-9-]*[a-z0-9])?)*$"
          required
          name="email">
      </div>
      <div ng-hide="form.email.$valid || form.email.$pristine" class="alert">
        Email must match x@x.x
      </div>
    
      <div>
        <label for="age">Age</label>
        <input type="number"
          ng-model = "$ctrl.model.age"
          ngControl="age"
          min="13"
          name="age">
      </div>
      <div ng-hide="form.age.$valid || form.age.$pristine" class="alert">
        Min age is 13
      </div>
    
      <button
        type="submit"
        ng-disabled="!form.$valid">Submit</button>
    </form>
  </div>

  <div ng-hide="!$ctrl.submitted">
    <h2>You submitted the following:</h2>
    <div>
      <strong>Name</strong>
      <span>{{ $ctrl.model.name }}</span>
    </div>
    <div>
      <strong>Email</strong>
      <span>{{ $ctrl.model.email }}</span>
    </div>
    <div>
      <strong>Age</strong>
      <span>{{ $ctrl.model.age }}</span>
    </div>
    <br>
    <button ng-click="$ctrl.submitted=false">Edit</button>
  </div>
</div>